<div class="forgot-container">
  <form class="forgot-form">
    <header>
      <img
        src="assets/media/theRealPostLogos/theRealPostsLogoBackgroundTransparent.png"
        alt="the real post logo"
        class="logo" />
    </header>

    <p class="text-secondary">
      Type your email addres to send a reset link to you, Make sure to type it
      right.
    </p>

    <form>
      <div class="form-floating mb-2">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com" />
        <label for="floatingInput">Email address</label>
      </div>
    </form>

    <div class="sub-navs">
      <a routerLink="../login">Back to login</a>
    </div>

    <div class="forgot-actions">
      <button class="btn btn-primary">Send</button>
    </div>
  </form>
</div>
