@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/_breakpoints';

#one-title-stepper {
  width: 100%;
  height: 100%;
  header {
    margin-bottom: 2.5rem;
    .top-section {
      padding: 1rem 1rem 0.5rem 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .mid-section {
        text-align: center;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .top-section {
    padding: 0.5rem 0.5rem 0.25rem 0.5rem !important;
    .mid-section {
      flex: 9;
      .title {
        font-size: 1.1rem;
      }
    }

    .back-button {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem !important;
      border-radius: 0.2rem;
    }

    .side-info-container {
      font-size: 0.8rem;
      flex: 1;
    }
  }
}
