<div class="login-container">
  <form class="login-form">
    <header>
      <img
        src="assets/media/theRealPostLogos/theRealPostsLogoBackgroundTransparent.png"
        alt="the real post logo"
        class="logo" />
    </header>

    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com" />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password" />
      <label for="floatingPassword">Password</label>
    </div>

    <div class="sub-navs">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault" />
        <label class="form-check-label" for="flexCheckDefault">
          Remember Me
        </label>
      </div>

      <a href="javascript:void(0)">Forgot password!</a>
    </div>

    <div class="login-actions">
      <button class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
