<div class="registration-container">
  <div class="left-part">
    <div class="content">
      <img
        src="assets/media/theRealPostLogos/theRealPostsLogoBackgroundTransparent.png"
        alt="the real post logo"
        class="logo" />

      <h1>The Matrix is cracked.</h1>
    </div>
  </div>

  <div class="form-part">
    <div class="sub-header">
      <img
        src="assets/media/theRealPostLogos/theRealPostsLogoBackgroundTransparent.png"
        alt="the real post logo"
        class="logo" />

      <div class="text-content">
        <p>Join the real post NOW!</p>
      </div>
    </div>
    <form>
      <div class="form-floating mb-2">
        <input type="text" class="form-control" id="name" placeholder="Name" />
        <label for="name">Name</label>
      </div>

      <div class="form-floating mb-2">
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Username" />
        <label for="username">Username</label>
      </div>

      <div class="form-floating mb-2">
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Example@example.com" />
        <label for="email">Email Address</label>
      </div>

      <div class="form-floating mb-2">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="*****" />
        <label for="password">Password</label>
      </div>

      <div class="form-floating mb-2">
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="*****" />
        <label for="confirmPassword">Confirm Password</label>
      </div>

      <div class="form-actions">
        <button class="btn btn-primary">Send</button>
        <button routerLink="../login" class="btn btn-secondary">
          Back to login
        </button>
      </div>
    </form>
  </div>
</div>
